body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#stopwatch {
  height: 300px;
  width: 300px;
  background-image: url("stopwatch.jpg");
  background-size: cover;
  margin: auto;
  font-size: 36px;
  /* margin: 20px; */
}

#buttons {
  margin: 10px;
}
